* {
    font-family: "Roboto", "Times New Roman", serif
}

h1 {
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color:#E5E7EB;
    padding: 8px;
}

.container {
    background-color: #1F2937;
    padding: 12px;
    display: flex;
    flex-direction: column;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    display: flex;  
    justify-content: space-between; 
}

.header-links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.signup {
    display: flex;
    gap: 12px;
    padding: 24px;
}

.signup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-image {
    color: #E5E7EB;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    flex-shrink: 0;
}

.signup-button {
    max-width: 100px;
}

ul {
    list-style-type: none;   
    padding: 0;
    margin: 0;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}